version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-teacher-service
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - teacher-network
  screenshot-service:
    container_name: screenshot-service
    build:
      context: ./screenshot-service
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
    restart: unless-stopped
    networks:
      - teacher-network


volumes:
  redis-data:
    driver: local

networks:
  teacher-network:
    driver: bridge

